{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Feedback
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='signin.css')}}">
<link rel="shortcut icon" href="{{ url_for('static', filename='logo.jpg') }}">
{% endblock %}

{% block content %}
<div class="container">

  <form class="form-signin" method="POST" action="/dashboard/feedback">
    <h2 class="form-signin-heading">Give your feedback</h2>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.email) }}
    {{ wtf.form_field(form.feedback) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit feedback</button>
  </form>

</div> <!-- /container -->
{% endblock %}